.login {
  height: 100%;
  background: url(../../assets/images/background.png) no-repeat;
  background-size: auto;
}
.login .control{
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.login .welcome{
  padding: 250px;
  font-size: 3rem;
  font-weight: 500;
  color: #850168;
  text-align: center;
}
.login .logo{
  padding: 0;
}
.login .heading{
  color: #850168;
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 900;
}