.menu {
    color: rebeccapurple;
    padding-right: 5px;
    border-color: black;
}

#styleMenuItem {
    background-color: whitesmoke;
    padding-left: 3px;
    border: 1px solid #555;
    font-size: 1rem;
    margin: 0;
    position: relative;
    display:flex;
}

#menuLink {
    padding: 0px;
    margin: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #555;
    display: block;
}

.menu .main {
    color: palevioletred;
    background-color: purple;
    font-size: medium;
}

.menu .route {
    background-color: seagreen;
}

.menu .route .item{
    background-color: seagreen;
    padding: 3px;
}
.menu .route .item .nav{
    background-color: seagreen;
    padding: 3px;
}

.menu .route .item .nav .text{
    background-color: seagreen;
    padding: 3px;
}

#item{
    padding: 1px;
    border-color: black;
}

#text{
    color: blue;
    background-color: skyblue;
    width: 100%;
    height: 100%;
}