body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root, body, html{
  width: 100%;
  height: 100%;
  font-family: 'Axiforma';
}

input:-internal-autofill-selected, input:focus {
  background-color: transparent !important;
}

/* for header bg color */
.env-development header#fuse-toolbar{background:#ADD8E6;}
.env-sandbox header#fuse-toolbar{background:#ff0000;}
.env-rc header#fuse-toolbar{background:#ffff00;}

img.cust-nav-image{fill:#fff;width: 23px;}

.step-cls-main {width: 50%;margin: 0;padding: 0 10px;}
.step-cls-main h1{padding: 10px 5px 10px; text-align: center;}
.inner-div-cls-all-sec{margin: 0; width: calc(100% + 0px);}
.btn-next-cls, .btn-prev-cls{background: transparent;box-shadow: none;border: 2px solid #999;padding: 5px 20px;color: #999;}
.multiple-cls-for-h .MuiSelect-select[multiple]{height: 100vh;padding: 32px 0 0;}
.custLabe-temp-cls{background-color: white;padding: 0 10px;}
.btn-sticky-onboard {position: unset;width: 100%;bottom: 10px;left: 0;padding: 0px 0;}
.step-cls-main.payment-fixed-btn .btn-sticky-onboard {position: fixed;width: 50%;bottom: 10px;}
.cust-dropdown legend{width:54px !important;}
.btn-logo-upload{max-width: 100px;float: right;height: 55.97px;border: 1px solid #e4e4e4;min-width:60px;}
.MuiFormGroup-root[role="radiogroup"] {padding: 0 10px 15px;}
.inner-div-cls-all-sec:nth-last-child(2){margin-bottom: 20px;}
.MuiInputLabel-outlined.MuiInputLabel-shrink{background: #fff;padding: 0 4px;}
.MuiSelect-selectMenu {padding-bottom: 13px !important;padding-top: 14px !important;}
.MuiSelect-select:focus .MuiInputLabel-shrink {background: #f2f2f2;}
.dashboard-table .MuiTableHead-root th.MuiTableCell-root.MuiTableCell-head {background: #f5f5f5;border: 1px solid #ddd;}
.dashboard-table tbody.MuiTableBody-root tr:nth-child(even){ background: #f5f5f5;}
.dashboard-table tbody.MuiTableBody-root tr td{border: 1px solid #ddd;}
.dashboard-table .MuiTableHead-root th.MuiTableCell-root.MuiTableCell-head h6.MuiTypography-root {font-weight: bold;font-size: 1.2em;color: #383d4c;}
.dashboard-table-blue-blck {/*border: 1px solid #ddd;*/}
.dashboard-table th.MuiTableCell-root.simple_head_table.MuiTableCell-head {width: 100%;max-width: 100%;min-width: 350px;}
table.MuiTable-root.simple.dashboard-table thead tr th, table.MuiTable-root.simple.dashboard-table thead tr td{padding: 8px;}
table.MuiTable-root.simple.dashboard-table thead tr th:first-child{padding-left: 22px;}
.maindivul span {font-family: 'Axiforma' !important;}
.maindivul span.material-icons {font-family: 'material-outline-icons' !important;}


.user-head-main-cls {width: 100%;text-align: center;}
.user-head-main-cls .user-head-main-cls{width: 100%;padding: 10px 10px 10px 20px;display: inline-block;}
.dashboard-table .MuiTableHead-root th.MuiTableCell-root.MuiTableCell-head {background: #ECF3FF;}
th.sun-pro-sales-cls{width: 180px !important;display: inline-block;padding-right: 0px;border-bottom: 0;}
th.sun-pro-sales-cls h6 {font-size: 18px;font-weight: bold;}

.dropdown-main-cls .user-slct-cls {margin: 0;}
.dropdown-main-cls .dropdown-text-cls {z-index: 2;background: #373c4b;padding: 0 5px;transform: translate(14px, -6px) scale(0.75);}
.dropdown-main-cls .user-slct-cls:before, .dropdown-main-cls .user-slct-cls:after{border-bottom: 0;}
.dropdown-main-cls .user-slct-cls:hover:before, .dropdown-main-cls .user-slct-cls:hover:after {border-bottom: 0;}
.dropdown-main-cls .user-slct-cls select {margin: 0;padding: 17.5px 14px;border: 1px solid #656974;position: relative;z-index: 0;border-radius: 4px;}
.dropdown-main-cls .user-slct-cls select:hover{border: 1px solid #fff;}
.dropdown-main-cls .user-slct-cls select:focus {border: 1px solid #656974;background-color: transparent;}
.MuiTableCell-root{font-size: 1.2rem;padding:0rem 1.6rem;}

.step-cls-main h1{}
.store-page-main{width: 100%;}
.right-map-store-cls{float: left;width: 50%;height: 75vh;margin: 0 auto; padding: 20px;}
.store-inner-page-main{float: left;width: 50%;}
img.cust-map-icon {width: 40px;}


/*onboard css start*/
.step-cls-main .MuiInputLabel-outlined{color: #000;}
.step-cls-main .MuiInputLabel-outlined.MuiInputLabel-shrink{background: #fafafa;}
.MuiOutlinedInput-root, .MuiOutlinedInput-root input, .step-cls-main .MuiInputLabel-outlined{color: #5E657B;font-size: 14px;}
.MuiOutlinedInput-root input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color: #5E657B;font-size: 14px;
}
.MuiOutlinedInput-root input::-moz-placeholder { /* Firefox 19+ */
color: #5E657B;font-size: 14px;
}
.MuiOutlinedInput-root input:-ms-input-placeholder { /* IE 10+ */
color: #5E657B;font-size: 14px;
}
.MuiOutlinedInput-root input:-moz-placeholder { /* Firefox 18- */
color: #5E657B;font-size: 14px;
}
.step-cls-main .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline{border-color: #802BEE;border-width: 1px;}
.step-cls-main .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{border-width: 1px;border-color: #802BEE;}
.step-cls-main .MuiFormControl-root:hover .MuiInputLabel-outlined.MuiInputLabel-shrink, .step-cls-main .MuiFormLabel-root.Mui-focused {color: #802BEE;}
.step-cls-main .btn-next-cls, .step-cls-main .btn-prev-cls{background: #802BEE;border: 2px solid #802BEE;
          box-shadow: none;padding: 4px 10px;color: #fff;font-weight: 700;}
.step-cls-main .btn-next-cls:hover, .step-cls-main .btn-prev-cls:hover{background: transparent;border: 2px solid #802BEE;color: #802BEE;}
.step-cls-main .btn-next-cls.MuiButton-contained.Mui-disabled{color: #fff;background-color: #B7C4D7;border: 2px solid #B7C4D7;}
.MuiStep-completed span.MuiStepLabel-iconContainer .MuiStepIcon-completed {color: #802bee;background: #f5f5f5;border-radius: 50%;
  border: 1.5px solid #f5f5f5;position: relative;}
.MuiStepIcon-root.MuiStepIcon-completed {color: #802bee;}
.MuiStepConnector-completed .MuiStepConnector-lineHorizontal {border-color: #802bee;}
/*onboard css end*/


html, body, #root{overflow: auto !important;padding-right: 0 !important; font-family: 'Axiforma' !important;}
#root{/*height: 100vh !important;*/}
header#fuse-toolbar {padding:0 !important;border: none;background: #F5F5F5;}
header#fuse-toolbar img.logo-icon {width: 90px;height: 90px;}
header#fuse-toolbar .logo-text {margin-left: 0;font-weight: 500;font-family: 'Axiforma' !important;}
.log_in_menu .normal-case {font-family: 'Axiforma' !important;font-weight: 500;}
.log_in_menu:hover {background: transparent;}
.log_in_menu:hover .normal-case, .log_in_menu:hover span.material-icons {color: #802bee;}
.maindivul {padding: 0;}
.maindivul span.material-icons {color: #262a35;}
.step-cls-container{padding: 0 50px;display: -ms-flexbox;display: flex;-ms-flex-wrap: wrap;flex-wrap: wrap;
  width: 100%;height: 65%;justify-content: center;-ms-flex-pack: center;}
.MuiInputBase-root, .MuiFormLabel-root, .MuiTypography-root{font-family: 'Axiforma' !important;}
.step-cls-main{background: #fcfcfc;padding: 0px 0px 30px;}
.step-cls-main-right .ml-8-inner { padding: 80px 40px 0 40px;margin-bottom: 0px;overflow: auto;}
.step-cls-main-left{float: left;  width: 40%;  margin-top: 60px;padding-left: 0px;    height: 80%;}
.step-cls-main-left h2, .step-cls-main-left h3 {color: #fff;}
.step-cls-main-left h2 {font-size: 25px;margin-bottom: 10px; font-weight: 500;}
.step-cls-main-left h3 { font-size: 16px;font-weight: 200;}
.step-cls-main-right{    float: right;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: auto;
  margin-left: 50px;
  max-width: 696px;}
.step-cls-main h1{  text-align: left;  float: left;font-size: 19px;}
.MuiOutlinedInput-notchedOutline{    border-radius: 0;border-color: #d9d9d9;}
.MuiOutlinedInput-input {line-height: initial;}
.MuiGrid-root.inner-div-cls-all-sec.bottom-btns{padding: 0;background: transparent;margin-top: 0px;position: relative;
  width: auto;z-index: 9999;right: 0;left: auto;margin-right: 0px;bottom: 0;float: right;}
.MuiGrid-root.inner-div-cls-all-sec.bottom-btns .MuiGrid-root.MuiGrid-item {max-width: unset;flex-basis: unset;}
.MuiGrid-spacing-xs-3 > .MuiGrid-item{    padding: 5px 5px;}
.MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root.MuiGrid-item {
  position: relative;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root.MuiGrid-item .MuiGrid-root.upload_arrow {
  position: absolute;
  right: 4px;
  top: 4px;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root.MuiGrid-item .MuiGrid-root.upload_arrow .btn-logo-upload {
  height: 42px;
  width: 42px;
  background: #802bee;
  color: #fff;
  min-width: auto;
  padding: 9px;
  border-radius: 0;
  border: none;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root.MuiGrid-item .MuiGrid-root.upload_arrow .btn-logo-upload span.material-icons {
  color: #fff;font-size: 18px;
}
.MuiStepper-alternativeLabel {background: transparent;padding: 55px 25px;}
.MuiStepConnector-line{    border-color: #f5f5f5;}
.MuiStepper-alternativeLabel .MuiStepConnector-lineHorizontal{    border-top-width: 4px;}
.MuiStepper-alternativeLabel .MuiStepIcon-root.MuiStepIcon-active {color: #802bee;}
.MuiStepper-alternativeLabel .MuiStepIcon-root {position: relative;z-index: 111;opacity: 1;color: #f5f5f5;width: 28px;height: 28px;}
.MuiStepper-alternativeLabel .MuiStepIcon-root text.MuiStepIcon-text {fill: #222630;}
.MuiStepper-alternativeLabel .MuiStepIcon-root.MuiStepIcon-active text.MuiStepIcon-text {fill: #fff;}
.MuiStepConnector-alternativeLabel{left: calc(-50% + 0px);right: calc(50% + 0px);border: 1px solid #606060;}
.MuiStep-alternativeLabel .MuiStepConnector-active span.MuiStepConnector-line {border-color: #802bee;}
.MuiStepLabel-label.MuiStepLabel-alternativeLabel {color: #fff;font-size: 15px;font-family: 'Axiforma' !important;font-weight: 300;}
#fuse-layout { background: url(/assets/images/onboard/kaching_bg.png) no-repeat; background-size: cover;}
#fuse-layout .makeStyles-wrapper-3:after {padding-bottom: 0;background: transparent;content: '';
  display: inline-block;width: 100%;height: 165px;position: absolute;bottom: 0;}
.step-cls-main .btn-next-cls, .step-cls-main .btn-prev-cls{width: 120px;border-radius: 0px;background: #fff;
  color: #802bee;}
.step-cls-main .btn-next-cls span.material-icons, .step-cls-main .btn-prev-cls span.material-icons {color: #fff;background: #802bee;
      width: 28px;height: 28px;line-height: 28px;position: absolute;left: 0;font-size: 16px;position: absolute;top: 1px;}
.step-cls-main .btn-next-cls span.material-icons{right: 2px;left: auto;text-align: center;}
.step-cls-main .btn-prev-cls span.material-icons {left: 2px;text-align: center;}
.step-cls-main .btn-prev-cls {background: #fff;color: #802bee;}
.step-cls-main .btn-next-cls:hover, .step-cls-main .btn-prev-cls:hover{border-color: #802bee;}
.step-cls-main .btn-next-cls.MuiButton-contained.Mui-disabled {background: #fff;border-color: #802bee;color: #802bee;}
button.MuiButtonBase-root.MuiButton-root.whitespace-no-wrap.btn-next-cls.float-right.MuiButton-contained {border: 2px solid #802BEE;font-size: 13px;}
button.MuiButtonBase-root.MuiButton-root.whitespace-no-wrap.btn-prev-cls.float-left.MuiButton-contained {border-color: transparent;
  box-shadow: 2px 6px 9px 0px #e8e8e8;}
.step-cls-main-left .right-map-store-cls {width: 100%;height: 100%;padding: 5px;background: #fff;}
.step-cls-container.map-div .step-cls-main-left {margin: 0;    width: 41%;    padding-left: 0;height: 100%;}
.step-cls-container.map-div .store-inner-page-main {width: 100%;}
.MuiOutlinedInput-root select {background: url(/assets/images/onboard/arrow_down_icon.svg) no-repeat right 17px top 22px;
  -moz-appearance: none !important;-webkit-appearance: none !important;appearance: none !important;background-size: 12px;}
.MuiOutlinedInput-root svg.MuiSvgIcon-root.MuiSelect-icon {
  display: none;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root.MuiGrid-root.upload_arrow_div_left {
  float: left;
  max-width: 80%;
}
.MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root .upload_arrow_div_right {float: right;padding: 0;margin: 0;height: auto;width: 18%;
      height: 50px;border: 1px solid #d9d9d9;border-radius: 0px;margin-left: 10px;}
.org-detail .MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root.MuiGrid-root.upload_arrow_div_left{max-width: 88%;}
.org-detail .MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root .upload_arrow_div_right{width: 10%;}
textarea.MuiOutlinedInput-input {padding: 0;}
.inner-div-cls-all-sec.special_nick_name {margin-bottom: 10px;}
.inner-div-cls-all-sec span.report_msg {margin-top: 10px;display: inline-block;width: 100%;}
.MuiRadio-colorSecondary.Mui-checked {color: #802bee;}
.inner-div-cls-all-sec:nth-last-child(2){    margin-bottom: 0;}
button.MuiButtonBase-root.MuiButton-root.whitespace-no-wrap.btn-next-cls.float-right.MuiButton-contained span.MuiButton-label {
  text-align: left;display: inline-block;    text-transform: capitalize;}
button.MuiButtonBase-root.MuiButton-root.whitespace-no-wrap.btn-prev-cls.float-left.MuiButton-contained span.MuiButton-label {
  text-align: right;float: right;display: inline-block;    text-transform: capitalize;    font-size: 13px;}
button.MuiButtonBase-root.MuiButton-root.whitespace-no-wrap.btn-prev-cls.float-left.MuiButton-contained:hover {background: #fff;}
.inner-div-cls-all-sec span.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorPrimary {padding: 0 10px;}
.inner-div-cls-all-sec span.MuiButtonBase-root.MuiIconButton-root.MuiCheckbox-root.MuiCheckbox-colorPrimary:hover {background: transparent;}
.MuiGrid-container{position: relative;}
.MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root .upload_arrow_div_right{position: absolute;    right: 0;}
.MuiPaper-root.MuiPaper-elevation1.MuiCard-root button.MuiButtonBase-root {background: #691fc3;color: #fff;border-radius: 0px;padding: 9px 15px;}

button.MuiButtonBase-root.MuiButton-root.whitespace-no-wrap.btn-next-cls.float-right.MuiButton-contained.Mui-disabled.Mui-disabled {border-color: #a3b3cb;}
button.MuiButtonBase-root.MuiButton-root.whitespace-no-wrap.btn-next-cls.float-right.MuiButton-contained.Mui-disabled.Mui-disabled span.MuiButton-label {color: #a3b3cb;}
button.MuiButtonBase-root.MuiButton-root.whitespace-no-wrap.btn-next-cls.float-right.MuiButton-contained.Mui-disabled.Mui-disabled span.material-icons {background: #a3b3cb;}

.MuiDialog-root .MuiDialog-paper.MuiDialog-paperScrollPaper{padding: 30px !important;border-radius: 4px !important;}
.MuiDialog-root .MuiDialog-paper.MuiDialog-paperScrollPaper .MuiDialogContent-root p#alert-dialog-description {color: #222730;font-size: 17px;}
.MuiDialog-root .MuiDialog-paper.MuiDialog-paperScrollPaper {margin: 0;padding: 30px;border-radius: 0px;}
.MuiDialog-root .MuiDialog-paper.MuiDialog-paperScrollPaper .MuiDialogContent-root{    text-align: center;padding: 0;}
.MuiDialog-root .MuiDialog-paper.MuiDialog-paperScrollPaper .MuiDialogActions-root {display: inline-block;width: 100%;padding: 0;display: flex;padding: 7px 9px !important;}
.MuiDialog-root .MuiDialog-paper.MuiDialog-paperScrollPaper .MuiDialogActions-root .leftbtn {float: left;    background: transparent;
  border-radius: 0px;border: 2px solid #802bee;color: #802bee;}
  .MuiDialog-root .MuiDialog-paper.MuiDialog-paperScrollPaper .MuiDialogActions-root .leftbtn:hover{background: #802bee;color: #fff;}
.MuiDialog-root .MuiDialog-paper.MuiDialog-paperScrollPaper .MuiDialogActions-root .rightbtn {float: right;color: #fff;background: #802bee;border-radius: 0px;border: 2px solid #802bee;}
.MuiDialog-root .MuiDialog-paper.MuiDialog-paperScrollPaper .MuiDialogActions-root .rightbtn:hover{background: transparent;
border: 2px solid #802bee;color: #802bee;}
.step-cls-main-right .step-header {background: #eee;display: inline-block;width: 100%;padding: 10px 30px;
  margin-bottom: 15px;position: fixed;width: inherit;max-width: inherit;top: auto;z-index: 9999;}

.MuiGrid-spacing-xs-3 > .MuiGrid-item label.btn-logo-upload {
  height: 50px; width: 50px; background: #802bee;
  color: #fff; min-width: auto;padding: 9px;border-radius: 0;border: none;}

.MuiGrid-spacing-xs-3 > .MuiGrid-item label.btn-logo-upload span.material-icons {color: #fff;}
.MuiGrid-spacing-xs-3 > .MuiGrid-item .white-bg-button {background: #fff !important;}
.left-algn{float:left; margin-left:13px;}
.serch_box_all {border-radius: 0px;box-shadow: none;height: 50px;    margin-bottom: 0;}
.serch_box_all input.MuiInputBase-input.MuiInput-input {padding: 0;}
.serch_box_all span.material-icons {margin-top: 2px;}
.MuiGrid-root.add_rule_boxes .innerbtn.MuiButton-contained {padding: 10px;height: 50px;margin-top: 8px;}
.add_rule_boxes .MuiGrid-item.MuiGrid-grid-xs-3 {max-width: 30%;flex-basis: 29%;}
.add_rule_boxes .MuiGrid-root.add_rule_boxlast {max-width: 11% !important;flex-basis: 11% !important;}
.MuiGrid-root.listing_product_list {height: 180px;overflow: auto;background: #efefef;padding: 0;}
.dashboard-table.add_rule_table h6.MuiTypography-root {font-size: 1.4rem;}
form#payment-form .form-group.field.field-object .form-group.field{}
.MuiGrid-spacing-xs-3 > .MuiGrid-item .MuiGrid-root .upload_arrow_div_right img {height: 100%;width: 100%;}



/****************default css for snd-kaching****************/
.MuiTab-textColorSecondary.Mui-selected {color: #802bee;}
.MuiTabs-indicator {background-color: #802bee;}
.MuiTab-textColorSecondary span.MuiTab-wrapper {font-size: 1.3em;}
.navigation a.active {background-color: #802bee;}
.MuiCheckbox-colorSecondary.Mui-checked .MuiIconButton-label svg path {fill: #802bee;}


/****************import table****************/
.tableimportspc .dashboard-table tr.MuiTableRow-root {  }
.tableimportspc tbody.MuiTableBody-root.tableimportbody {background: #f5f5f5;}
.tableimportspc tbody.MuiTableBody-root.tableimportbody:nth-child(1) {background: #ECF3FF;}
.tableimportspc tbody.MuiTableBody-root.tableimportbody:nth-child(even) {background: #ffffff;}
.tableimportspc tbody.MuiTableBody-root.tableimportbody:nth-child(1) h6.MuiTypography-root {font-weight: bold;font-size: 1.2em;color: #383d4c;}
.tableimportspc .dashboard-table td.MuiTableCell-root.MuiTableCell-body {padding-left: 10px !important;border: 1px solid #ddd;}
.tableimportspc tbody.MuiTableBody-root.tableimportbody:nth-child(1) h6.MuiTypography-root{ font-size: 1.6rem; text-transform: capitalize;}
.tableimportspc tbody.MuiTableBody-root.tableimportbody h6.MuiTypography-root { font-size: 1.2rem; }
.innerbtn.Mui-disabled {background: transparent;color: #a3b3cb;border-radius: 0;border: 1px solid #a3b3cb;}
.innerbtn, a.whitespace-no-wrap[role=button] {background: transparent;color: #fff;border-radius: 0;
  border: 1px solid #fff; font-weight: bold; box-shadow: none;}
.innerbtn:hover, a.whitespace-no-wrap[role=button]:hover {background: #fff;color: #802bee;}

form#payment-form input.form-control, form#payment-form select.form-control, form.schemaform input.form-control, form.schemaform select.form-control {color: #5E657B;font-size: 14px;padding: 17px;line-height: initial;width: 100%;border: 0;height: 1.1875em;margin: 0;display: block;min-width: 0;
  background: none;    border: 1px solid #d9d9d9;height: 50px;z-index: 9;position: relative;}
form#payment-form .form-group, form.schemaform .form-group {position: relative;margin-bottom: 1.6rem;}
form#payment-form label.control-label, form.schemaform label.control-label {color: #5E657B;font-size: 14px;}
form#payment-form legend#root__title, form.schemaform legend#root__title {color: #000; padding: 10px 5px;font-size: 19px;margin: 10px 0px;display: inline-block;width: 100%;font-weight: bold;}
form#payment-form .form-group label.control-label, form.schemaform .form-group label.control-label {position: absolute;top: 0px;left: 18px;font-size: 11px;padding: 0 4px;text-transform: capitalize;background: #fcfcfc;}
form#payment-form .form-group ul.error-detail.bs-callout.bs-callout-info, form.schemaform .form-group ul.error-detail.bs-callout.bs-callout-info {display: none;}
form#payment-form input.form-control:focus + label.control-label{ }
form#payment-form .form-group .checkbox input[type="checkbox"], form.schemaform .form-group .checkbox input[type="checkbox"]{padding: 0;height: initial;width: initial;margin-bottom: 0;display: none;cursor: pointer;}
form#payment-form .form-group .checkbox span, form.schemaform .form-group .checkbox span {position: relative;cursor: pointer;}
form#payment-form .form-group .checkbox span:before, form.schemaform .form-group .checkbox span:before {content:'';-webkit-appearance: none;background-color: transparent;border: 2px solid #3c4252;padding: 7px;display: inline-block;position: relative;vertical-align: middle;cursor: pointer;margin-right: 9px;border-radius: 4px;margin-top: -2px;}

form#payment-form .form-group .checkbox input:checked + span:after, form.schemaform .form-group .checkbox input:checked + span:after {content: '';display: block;position: absolute; top: 0px;left: 7px;width: 5px;height: 10px;border: solid #fff;border-width: 0 2px 2px 0;transform: rotate(45deg);}
form#payment-form .form-group .checkbox input:checked + span:before, form.schemaform .form-group .checkbox input:checked + span:before{background-color: #3c4252;}
p.field-description {color: #000;font-size: 19px;margin: 10px 0px;display: inline-block;width: 100%;font-weight: bold;}
.full-payment-form {width: 100%;max-width: 100%;flex-basis: 100%;}
form#payment-form .form-group.field.field-object, form.schemaform .form-group.field.field-object {width: 100%;}
.full-payment-form .form-group {width: 100%;float: left;padding: 5px 5px;}
.full-payment-form form#payment-form fieldset#root {margin: 0 -10px;}
form#payment-form .form-group.field.field-boolean, form.schemaform .form-group.field.field-boolean {margin-bottom: 9px;}
form#payment-form button.MuiButtonBase-root {/*position: absolute;top: -141px;right: 5px;z-index: 99999;*/}
form#payment-form input.form-control:hover, form.schemaform input.form-control:hover {border-color: #802bee;}
form#payment-form .form-group:hover label.control-label:hover, form.schemaform .form-group:hover label.control-label:hover{color: #802bee;}
form.schemaform .form-group.field-array .btn-add{height: 42px;width: 42px;background: #802bee;color: #fff;}
form.schemaform .form-group.field-array .btn-add .glyphicon.glyphicon-plus:before{content:'+';}

.samename {height: 100%;}
.step-cls-container.map-div .ml-8.step-cls-main.step-cls-main-right{margin-left: 40px;}
.tarqual_list.MuiGrid-item {border: 1px solid #d9d9d9;padding: 10px;min-height: 250px;overflow: auto;}
.rule_list.MuiGrid-item {border: 1px solid #d9d9d9;padding: 10px;min-height: 250px;overflow: auto;}
.tarqual_list.MuiGrid-item .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters {padding: 5px;}
.rule_list.MuiGrid-item .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters {padding: 5px;}
.tarqual_list.MuiGrid-item .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters:last-child {border-bottom: none !important;}
.plus_icon {color: #802bee;}
.add_rule_table span.material-icons.MuiIcon-root {color: #802bee;}
.step-cls-main-right .ml-8-inner .MuiInputBase-root.MuiOutlinedInput-multiline { padding: 14.8px 14px;}


.MuiGrid-root.offer_logo_upload .MuiGrid-root.MuiGrid-item {padding: 0 5px;}
.MuiGrid-root.offer_logo_upload .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-2 {padding: 0;}
.MuiGrid-root.offer_logo_upload .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-2 img.max-w-none {
width: 100%;height: 100%;padding: 5px;border: 1px solid #d9d9d9;}
.MuiGrid-root.offer_logo_upload .MuiGrid-root.offer_logo_upload2 {
max-width: 70.666667%;flex-basis: 70.666667%;}
.MuiGrid-root.offer_logo_upload .MuiGrid-root.offer_logo_upload3 {
max-width: 12.666667%;flex-basis: 12.666667%;}
.MuiGrid-root.offer_logo_upload .MuiGrid-root.offer_logo_upload1 {height: 51px;margin-top: 8px;}
.MuiGrid-root.offer_logo_upload .MuiGrid-root.offer_logo_upload3 label.btn-logo-upload {width: 100%;}
.offer_logo_blank {width: 100%;height: 100%;padding: 5px;border: 1px solid #d9d9d9;}
.flex.container.w-full .MuiGrid-root.MuiGrid-item .innerbtn { background: #7e2bce;color: #fff;border-radius: 0;border: 2px solid #6e22c5;font-weight: bold;}
.flex.container.w-full .MuiGrid-root.MuiGrid-item .innerbtn:hover { background: transparent;border-color: #7e2bce;color: #7e2bce;}


.inner-div-cls-all-sec .full-payment-form form#payment-form fieldset#root {margin: 0;}
.inner-div-cls-all-sec .full-payment-form form#payment-form .form-group.field.field-object {padding: 0;}
.inner-div-cls-all-sec .full-payment-form form#payment-form label.control-label {background: #fff;}
.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline { border-color: rgb(128, 43, 238); border-width: 1px;}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline { border-color: #3C4252; border-width: 1px;}
.tarqual_list span.material-icons.MuiIcon-root { float: right; width: 100%; text-align: right; color: #8031f4; }
.full_strak_div .addleftbtn { float: left; }
.full_strak_div .canclerightbtn { float: right; }
.full_strak_div .canclerightbtn { float: right; background: transparent !important; color: #7e2bce !important; }
.full_strak_div .canclerightbtn:hover { background: #7e2bce !important; color: #fff !important; }

.fixed-scrollbar-cls {height: 70vh;overflow-x: auto !important;max-width: 100%;}
/***********************************/
header p#username {
  width: 80%;
  display: inline-block;
  white-space: normal;
  text-align: center;
}
.log-lbl .MuiFormControl-root label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-outlined.Mui-required.Mui-required {
  transform: translate(14px, -6px) scale(0.75) !important;
  background: #fff;
  padding: 0 4px;
  color: #212121;
}
.log-lbl .MuiFormControl-root fieldset legend {
  width: auto !important;
}

.loader {border: 6px solid #f3f3f3;border-radius: 50%;border-top: 6px solid #3498db;
width: 55px;height: 55px;-webkit-animation: spin 1s linear infinite; /* Safari */animation: spin 1s linear infinite;}

/***********************************/
.destroy .MuiFormGroup-root {display: block;}
.destroy .MuiFormGroup-root label.MuiFormControlLabel-root {margin: 0;float: left;display: inline-block;clear: both;}
.destroy .MuiFormGroup-root .destroy-count {float: left;display: inline-block;padding: 10px;}
button.distroy-btn {background: #7928cc;border: 2px solid #7928cc;}
fieldset.destroy {width: 100%;}


@-webkit-keyframes spin {0% { -webkit-transform: rotate(0deg); }100% { -webkit-transform: rotate(360deg); }}
@keyframes spin {0% { transform: rotate(0deg); }100% { transform: rotate(360deg); }}
.loadermaindiv {width: 100%;height: 100%;background: rgba(255, 255, 255, 1);position: absolute;left: 0; top: 50px;
  top: 0;z-index: 9;display: flex;justify-content: center;align-items: center;border-radius: 8px}
.loadermaindiv .loader {position: absolute;top: 50%;left: 45%;transform: translate(-50%, -50%);}
.loadermaindiv.forimage{display:none;}
.dasherror{display:none; text-align:center;margin-top:150px;}

.store-main h6{border-bottom: 4px solid #3a4050;margin: 10px 0;}
.store-main{margin-bottom: 20px;}
.table-main {border-bottom: 2px solid #3a4050; margin-bottom: 10px;}
.dashboard .user-head-main-cls{text-align: left;}
.dashboard .pd-bottom{padding-bottom:20px;}


/******* quicksight dashboard *************/

.dashboard_iframe{
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;overflow: hidden;display: inline-block;width: 100%;}
.dashboard_iframe iframe.quicksight-embedding-iframe{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.dashboard_iframe iframe.quicksight-embedding-iframe::-webkit-scrollbar {
width: 0;
}
.dashboard_iframe iframe.quicksight-embedding-iframe::-webkit-scrollbar-track {
box-shadow: none;
}
.dashboard_iframe iframe.quicksight-embedding-iframe::-webkit-scrollbar-thumb {
background-color: transparent;
outline: 1px solid transparent;
}

.dashboard-padding h6 {padding: 6px 20px;}
.dashboard-padding, .dashboard-padding ~ div{margin:0 -35px; }

.cafe-center-logo {width: 100%;text-align: center;display: flex;align-items: center;justify-content: center;}
.cafe-center-logo .avatar {float: left;width: 35px;height: 35px;}
header .cafe-center-logo p#username {width: auto;margin-left: 20px;}

/* ****************** CSS for Integration Start ************************ */

form#report-configuration-form.schemaform .form-group.field.field-object {width: 100%;display: inline-block; margin-bottom: 0;}
form#report-configuration-form.schemaform .form-group.field.field-object .form-group.field.field-string {padding: 0 8px 0 0;}
form#report-configuration-form.schemaform .form-group.field.field-object .form-group.field.field-integer {padding: 0 8px 0 0;}
form#report-configuration-form.schemaform .form-group.field.field-object div[id*='deliveryFrequency'] .form-group.field.field-string {width: 50%;float: left;}
form#report-configuration-form.schemaform .form-group.field.field-object div[id*='ftpAccess'] .form-group.field.field-string {width: 50%;float: left;}
form#report-configuration-form.schemaform .form-group.field.field-object div#root_zReport > h3 {font-size: 15pt;}
form#report-configuration-form.schemaform .form-group.field.field-object div#root_sieReport > h3 {font-size: 15pt;}
form#report-configuration-form.schemaform .form-group.field.field-object div#root_salesReport > h3 {font-size: 15pt;}
form#report-configuration-form.schemaform .form-group.field.field-object div#root_ftpAccess > h3 {font-size: 15pt;}

.fixed-scrollbar-cls .table-responsive table.simple.payment-table-order{ border-collapse: collapse;}
.fixed-scrollbar-cls .table-responsive table.simple.payment-table-order tbody {
  padding: 10px;
  background: #f3f3f3;
  margin-top: 15px !important;
  width: 100%;
  border-bottom: 10px solid white;
}
/* ****************** CSS for Integration End ************************ */

/* ****************** CSS for Mui DatePicker Start ************************ */
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-']{background-color: #fff}
div[class*='MuiDialog-root-'] div[class*='MuiPickersToolbar-toolbar-']{background-color: #3C4252}
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] span[class*='MuiPickersCalendarHeader-dayLabel-']{color:#424242;}
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] button[class*='MuiPickersCalendarHeader-iconButton-'],div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] button[class*='MuiPickersDay-day-']{color:rgba(0, 0, 0, 0.87);}
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] button[class*='MuiPickersDay-day-']{color:#424242;}
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] button[class*='MuiPickersDay-dayDisabled']{color:#797878;}
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] button[class*='MuiPickersCalendarHeader-iconButton-']{background-color:#fff}
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] button[class*='MuiPickersDay-daySelected']{background-color:#3C4252;}
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] button[class*='MuiPickersDay-current'] p[class*='MuiTypography-colorInherit-']{color:#424242;}
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] button[class*='MuiPickersDay-current-']{background-color:none;}
div[class*='MuiDialog-root-'] div[class*='MuiPickersModal-dialogRoot-'] button[class*='MuiPickersDay-daySelected'] p[class*='MuiTypography-colorInherit-']{color: #fff;}
div[class*='MuiDialog-root-'] div[class*='MuiPickersCalendarHeader-transitionContainer-'] p[class*='MuiTypography-body1-']{color: #262933;}
div[class*='MuiDialog-root-'] div[class*='MuiPickersYear-root-']{color: #262933;}
.MuiDialog-root .MuiDialog-paper.MuiPickersModal-dialogRoot{padding: 0px !important}
/* ****************** CSS for Mui DatePicker End ************************ */

/****************media****************/
@media only screen and (max-width:6000px) and (min-width:3000px){
  .step-cls-main-right {max-width: 1100px;}
}
@media only screen and (max-width:3000px) and (min-width:2000px){
  .step-cls-main-right{max-width: 1000px;}
}
@media only screen and (max-width:2000px) and (min-width:1800px){
  .step-cls-container{ height: 75%;}
  .step-cls-main-right{max-width: 790px;}
}
@media only screen and (max-width:1780px) and (min-width:1480px){
  .step-cls-container{ height: 71%;}
}

@media (max-width:1400px){
  .multiple-cls-for-h .MuiSelect-select[multiple] {height: 210px;}
}

@media (max-width:1350px){

  .step-cls-main-right{    max-width: 630px;}
}
@media (max-width:1280px){
  .multiple-cls-for-h .MuiSelect-select[multiple] {height: 150px;}
  .step-cls-main-left{padding-left: 30px;}
  .step-cls-main-right{margin-left: 30px;}

  .step-cls-main-right{    max-width: 580px;}
}

@media (max-width: 1200px){
.fixed-scrollbar-cls {height: 70vh;}
}

@media (max-width: 1150px){
  .MuiGrid-spacing-xs-3 > .MuiGrid-item {padding: 5px;}
  .multiple-cls-for-h .MuiSelect-select[multiple] {height: 100px;}

  .step-cls-main-left {padding-left: 10px;}
  .MuiStepConnector-alternativeLabel{    top: 10px;}

  .step-cls-container.map-div .ml-8.step-cls-main.step-cls-main-right {margin-left: 30px;}
  .step-cls-main-right .step-header{ padding: 10px 20px;}
  .step-cls-main-right .ml-8-inner{ padding: 0 20px;}
  .step-cls-main .btn-next-cls, .step-cls-main .btn-prev-cls{width: 100px;padding: 4px 4px;}

  .step-cls-main-right{    max-width: 500px;}
}
@media (max-width: 1000px){

  .step-cls-main{ margin-bottom: 50px;}
  .step-cls-main-left{margin-top: 0;padding-left: 0;margin-left: 0;width: 100%;margin-bottom: 30px;height: auto;}
  .step-cls-main-right{ max-width: 100%;width: 100%;padding-bottom: 0; margin-left: 0;height: auto;}

  .step-cls-container.map-div .step-cls-main-left{width: 100%; margin-bottom: 50px;}
  #fuse-layout .makeStyles-wrapper-3:after{height: 0;}

  .step-cls-main-right .ml-8-inner{height: auto;    padding: 0 40px 40px;}
  .step-cls-container.map-div .ml-8.step-cls-main.step-cls-main-right {margin-left: 0;}
  .step-cls-main-right .step-header{position: unset;    width: 100%;}
}

@media (max-width: 767px){
  .step-cls-main{width: 100%;padding-bottom: 0;}
  .btn-sticky-onboard .MuiGrid-item {padding: 5px;}
  .step-cls-main.payment-fixed-btn .btn-sticky-onboard{left: 0;padding: 0px;}
  .multiple-cls-for-h .MuiSelect-select[multiple] {height: 100vh;}
  .MuiStepLabel-label.MuiStepLabel-alternativeLabel{ display: none;}
  .step-cls-main-right .ml-8-inner{ padding: 0 20px 20px;height: auto;}
  .step-cls-container.map-div .step-cls-main-left{ width: 100%; margin: 0 0 50px;}
  .step-cls-main-right .step-header{padding: 10px 25px;}
  .step-cls-main h1{font-size: 17px;}
.fixed-scrollbar-cls {height: 60vh;}
.dashboard-padding, .dashboard-padding~div {
  margin: 0 0;
}
}

@media (max-width: 580px){

  .MuiGrid-root.inner-div-cls-all-sec.bottom-btns{    width: 100%;}
  .step-cls-main .btn-next-cls, .step-cls-main .btn-prev-cls{width: 120px;}
  .MuiGrid-root.inner-div-cls-all-sec.bottom-btns .MuiGrid-root.MuiGrid-item{    max-width: 50%;}
}

@media (max-width: 480px){
  .btn-logo-upload{min-width: 30px;width: 30px;}


  .MuiGrid-grid-xs-6{max-width: 100%;flex-basis: 100%;}
  .step-cls-container{    padding: 0 20px;}
  .step-cls-main{    padding:0px 0;}
  .step-cls-main h1{font-size: 21px;}
  .MuiGrid-root.inner-div-cls-all-sec.bottom-btns .MuiGrid-item{margin-bottom: 0px;max-width: 50%;padding: 0 5px;}
  .step-cls-main .btn-next-cls, .step-cls-main .btn-prev-cls{    padding: 8px 10px;font-size: 12px;}
  .step-cls-main .btn-next-cls span.material-icons, .step-cls-main .btn-prev-cls span.material-icons{width: 35px;height: 35px;line-height: 35px;top: 1px;}
  .step-cls-main-left h2{    font-size: 22px;}
  .step-cls-main-left h3{    font-size: 15px;}
  .step-cls-main-left .right-map-store-cls{margin-bottom: 0px;}
  .MuiGrid-root.inner-div-cls-all-sec.bottom-btns .MuiGrid-item.MuiGrid-grid-xs-12 {max-width: 100%;float: none;text-align: center;}
  .MuiGrid-root.inner-div-cls-all-sec.bottom-btns .MuiGrid-item.MuiGrid-grid-xs-12 button.MuiButtonBase-root.MuiButton-root {
      width: 100%;float: right;}
  .full-payment-form .form-group{    width: 100%;}
  .full-payment-form form#payment-form fieldset#root {margin: 0;}

  .dashboard_iframe{ height: 100%; }
}

@media (max-width: 340px){
  .step-cls-main .btn-next-cls, .step-cls-main .btn-prev-cls {width: 110px;float: none;padding: 8px 5px;}
}
